:root {
    box-sizing: border-box;
    --distance-to-opacity: 12em;
    background-color: aliceblue;
    --odin-font-family: url(../fonts/Norse-Bold.otf);
    --button-color: #596D48;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-ui);
}
html, body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Odin-Font';
    src: url(../fonts/Norse-Bold.otf);
}

.container{
    display: flex;
    /* align-items: center;
    justify-content: space-around; */
}
/* .container div {
    height: 100vh;
} */

.left-container {
    /* flex: 2; */

    width: 550px;
    height: 100vh;
    background-image: url(../images/FormValidationImage.jpg);
    background-repeat: no-repeat;


}
.right-container {
    flex: 3;
}
.top-text-content {
    padding: 9em 6em 4em 6em;
    font-size: 1.1em;
}
.right-top-section {
    box-shadow: inset 0px -1px 2px grey;
    margin-bottom: 2px;
}
#bikes-div {
    margin-top: var(--distance-to-opacity, 100px);
    width: 100%;
    height: 8rem;
    background: black;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bikes-div>* {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 800;
    width: 100px;
    color: white;
    opacity: 1;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    height: 80%;
    align-items: center;
    justify-content: center; 
    font-family: 'Odin-Font';
}
#bikes-div>img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#form-div {
    background-color: white;
    padding-left: 3em;
    box-shadow: 2px 4px 1px grey;
    display: flex;
    flex-direction: column;
}
#form-id {
    margin: 0;
}
.form-field-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0px 4px 0px;
}
/* .form-field-container > * {
    flex: 1;
    font-size: 0.9em;
    font-family: sans-serif;
} */
.field {
    flex: 1;
    padding: 0 10px;
    border: 2px;
}


button {
    background-color: var(--button-color);
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 1em 1em;
    font-weight: 700;
    margin: 2em 3em;
}
.has-account {


    font-weight: 500;
    margin-top: 2em;
    margin-left: 3em;

}
a {
    color: var(--button-color);
    font-weight: 600;
    text-decoration: none;
}